body {
    background-color: rgb(14, 14, 14);
}

header{
    width: 100vw;
    background-color: rgb(53, 53, 53);
    margin: 0 auto;
    padding: 10px;
}

h1{
    text-align: center;
    color: antiquewhite;
}

.grid-container {
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8); 
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    animation:opac 0.3s}@keyframes opac{from{opacity:0} to{opacity:1};
}

.grid-item:hover{
    background-color: rgba(255, 255, 255, 0.3) !important;
    border: 1px solid rgba(0, 0, 0, 0.3) !important;
}

.ejercicio-container{
    background-color: #2196F3;
    padding: 10px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    }

.ejercicio-form{
    text-align: center;
    background-color: #196db3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
    width: 50%;
    animation:opac 0.3s}@keyframes opac{from{opacity:0} to{opacity:1};
}

input{
    margin-top: 15px;
}